@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --primary-color: #da1e37;
  --primary-dark-color: #641220;
  --secondary-color: #FFC8CF;
  --black: #27272A;
  --neutral-color: #EFF6FF;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-family: "Inter", "Arial", sans-serif;
}

body {
  font-size: 16px;
  font-weight: 500;
}

h1, h2, h3, h4 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.display-1 {
  color: var(--primary-color);
  font-size: clamp(38px, 48px, 48px);
  line-height: 95%;
}

.display-2 {
color: var(--primary-color);
  font-size: clamp(32px, 38px, 38px);
  line-height: 110%;
}

.display-3 {
  font-size: 18px;
  line-height: 130%;
}

h1 {
  font-size: 24px;
  line-height: 1em;
  letter-spacing: -0.022em;
}

h2 {
  font-size: 18px;
  line-height: 1em;
  letter-spacing: -0.022em;
}

p, span {
  color: var(--black);
}

p,
span,
a,
button {
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 1em;
  letter-spacing: -0.011em;
}

a {
  color: #da1e37;
  text-decoration: underline;
  font-weight: 700;
}

ul,
ol {
  list-style: none;
  display: flex;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}
