@import url("./default.css");

body {
  background-color: var(--neutral-color);
}

/* Menu */

.c-screen__width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 30px;
}

.c-nav {
  background-color: var(--secondary-color);
  width: 70%;
  margin-top: 30px;
  margin-inline: auto;
  padding: 24px 0px;
  border-radius: 64px;
}

.c-nav__section {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.c-nav__button {
  column-gap: 20px;
}

.c-nav__menu {
  margin-left: 30px;
  column-gap: 48px;
}

.c-nav__link {
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
}

/* Primeira Sessão */

.c-header__section {
  margin: 120px 0px;
}

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 24px;
}

.c-header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}

.c-header__text > p, .c-header__text > h1 {
  text-align: center;
  margin: 0 auto;
  width: 60%;
}

.c-header__title {
  color: var(--primary-color);
}

.c-header__wrapper__image {
  width: 100%;
}

.c-header__image {
  width: fit-content;
  height: auto;
}

.c-header__buttons {
  margin-top: 12px;
}

.c-header__background {
  position: relative;
  filter: blur(46px);
z-index: -1;
}

.c-background {
  position: absolute;
  left: 30%;
  top: -320px;
  clip-path: polygon(97% 96%, 1% 45%, 76% 69%, 66% 38%, 1% 98%);
  background-color: var(--primary-color);
width: 600px;
height: 600px;
opacity: 0.3;
overflow: hidden;
}

/* Section Component */

.c-section__component {
  padding: 80px 0;
  width: 100%;
  z-index: 1;
}

.c-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px 20px;
}

.c-component__description {
  flex-basis: 40%;
}

.c-component__text {
  margin-top: 24px;
}

.c-component__image {
  flex-basis: 40%;
}

.c-component__cards {
  display: flex;
  gap: 32px;
  margin-top: 48px;
}

.c-component__card {
  background-color: var(--neutral-color);
  border-radius: 24px;
  padding: 24px;
  max-width: 230px;
}

.c-card__icon {
  color: var(--black);
  font-size: 24px;
}

.c-card__title {
  color: var(--black);
  margin-top: 12px;
  margin-bottom: 8px;
}

/* Section about */

.c-section__about {
  margin-top: 180px;
  padding-top: 120px;
  box-shadow: 0px -16px 40px 0px rgb(83 83 83 / 10%);
  background-color: white;
}

/* Section Date */

.c-section__date {
  margin-top: 0px;
  border-top: 1px solid #CCE2FF;
  padding-bottom: 280px;
  z-index: 2;
}

.c-date {
  flex-direction: row-reverse;
}

/* Board */

.c-section__board {
  background-color: white;
}

.c-board {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -180px;
  margin: 0 auto;
  max-width: 90%;
  background-color: var(--secondary-color);
  border-radius: 34px;
  padding: 48px;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 12%);
}

.c-board__description {
  margin: 0 auto;
  max-width: 70%;
}

.c-board__description > * {
  text-align: center;
}

.c-board__title {
  margin-bottom: 24px;
}

.c-board__text {
  margin-bottom: 42px;
}

.c-board__github {
  font-weight: 700;
  margin-bottom: 64px;
}

@media screen and (max-width: 768px){
  .c-nav {
    width: 100%;
  }

  .c-nav__section {
    gap: 20px;
    justify-content: center;

  }
  .c-header__text > h1, .c-header__text > p {
    width: 100%;
  }
 .c-component {
  flex-direction: column;
 } 

 .c-component__cards {
 justify-content: center;
 margin-bottom: 30px;
 }

 .c-board {
  max-width: 100%;
 }
}

@media screen and (max-width: 960px) {
  .c-nav {
    width: 90%;
  }
  
}