@import url("./login.css");
@import url("./components.css");

.c-login__left {
  background: url("../images/cadastro_image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.c-input {
  width: 100%;
}

.c-login__input__group {
  display: flex;
  width: 100%;
  column-gap: 12px;
}
