@import url("./default.css");

.c-button__primary {
  border: 2px solid var(--primary-color);
  color: var(--white);
  background-color: var(--primary-color);
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 600;
}

.c-button__primary:hover,
.c-button__secondary:hover {
  cursor: pointer;
  background-color: var(--primary-dark-color);
  border-color: var(--primary-dark-color);
  color: var(--white);
}

.c-button__secondary {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 600;
}

.c-buttons {
  display: flex;
  column-gap: 30px;
  margin-top: 60px;
}

.c-screen__width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.c-link {
  color: var(--primary-color);
}

.c-link:hover {
  color: var(--primary-dark-color);
}

/* Formulário */

.c-form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
}

.c-input__group {
  display: flex;
  width: 100%;
  column-gap: 12px;
}

.c-info__input {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
}

.c-input {
  border: 1px solid var(--gray);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  width: 100%;
  max-width: 100%;
}

.c-input__select {
  width: 33%;
}

.c-input__required {
  color: var(--primary-color);
  font-weight: 600;
}

.c-input::placeholder {
  color: rgb(184, 184, 184);
  font-size: 0.8rem;
  font-weight: 600;
}

.c-input:focus {
  border-color: var(--primary-color);
}

.c-input:focus-visible {
  outline: 2px solid var(--primary-color);
}

.c-login__senha {
  margin-top: 4px;
  font-size: 0.7rem;
}

.c-table {
  border-collapse: collapse;
}

.c-table__td {
  border-top: 1px solid var(--gray);
}

.c-table__th {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: left;
  padding: 0 8px 8px 4px;
}

.c-table__td {
  font-size: 0.8rem;
  padding: 12px 8px 12px 4px;
}

.c-table__icon__edit {
  color: var(--primary-color);
  font-size: 0.8rem;
}

/* Notificação */

.c-notification {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 350px;
  padding: 12px;
  opacity: 0;
  border-radius: 8px;
  box-shadow: -1px 2px 14px 0px rgb(0 0 0 / 24%);
  animation-name: notification;
  animation-duration: 0.4s;
  animation-delay: 0.1s;
  animation-timing-function: cubic-bezier(0.78, 0, 0.14, 1.09);
  animation-fill-mode: forwards;
}

.c-error {
  background: #e63946;
  border: 1px solid #ab1722;
}

.c-error__icon {
  color: #ab1722;
}

.c-success {
  background: #47e639;
  border: 1px solid #3bb330;
}

.c-success__icon {
  color: #216b1a;
}

.c-notification__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
  align-items: center;
}

.c-notification__message {
  font-weight: 400;
  font-size: 0.9rem;
}

/* Animação Notificação */

@keyframes notification {
  from {
    display: block;
    top: 0;
    opacity: 0;
  }

  to {
    top: 20px;
    opacity: 1;
  }
}
