@import url("./default.css");

/* Menu */

.c-screen__width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 30px;
}

.c-nav {
  background-color: var(--secondary-color);
  padding: 15px 0px;
}

.c-nav__section {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.c-nav__button {
  column-gap: 20px;
}

.c-nav__menu {
  column-gap: 54px;
}

.c-nav__link {
  color: var(--white);
}

/* Primeira Sessão */

.c-header__section {
  margin: 120px 0px;
}

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 24px;
}

.c-header__text {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.c-header__wrapper__image {
  width: 100%;
}

.c-header__image {
  width: fit-content;
  height: auto;
}

.c-header__buttons {
  margin-top: 12px;
}

@media screen and (max-width: 800px) {
  .c-header {
    flex-wrap: wrap;
  }

  .c-header__text > h1 {
    font-size: calc(1.525rem + 4.3vw);
    text-align: center;
  }

  .c-header__text > p {
    text-align: center;
  }

  .c-header__text {
    width: 100%;
  }

  .c-header__image {
    margin: 0 auto;
  }

  .c-nav__button {
    justify-content: center;
  }
}
