body {
    font-family: Arial, sans-serif;
    background-color: #0b3954;
    margin: 0px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    text-align: center;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.membros {
    text-align: left;
    margin-top: 20px;
}

.membro {
    margin-bottom: 10px;
}